				#cover{
					background-image: url(../images/cover.jpg);
				}

				#img1{
					background-image: url(../images/img1.jpg);
					background-size: cover;
				}

				#img2{
					background-image: url(../images/img2.jpg);
					background-size: cover;
					background-position: center;
				}

				#img3{
					background-image: url(../images/img3.jpg);
					background-size: cover;
					background-position: center;
				}

				#img4{
					background-image: url(../images/img4.jpg);
					background-size: cover;
					background-position: center;
				}

				#img5{
					background-image: url(../images/img5.jpg);
					background-size: cover;
					background-position: center;
				}

				#img6{
					background-image: url(../images/img6.jpg);
					background-size: cover;
					background-position: center;
				}

				#img7{
					background-image: url(../images/img7.jpg);
					background-size: cover;
					background-position: center;
				}

				#img8{
					background-image: url(../images/img8.jpg);
					background-size: cover;
					background-position: center;
				}

				#img9{
					background-image: url(../images/img9.jpg);
					background-size: cover;
					background-position: center;
				}

				#img10{
					background-image: url(../images/img10.jpg);
					background-size: cover;
					background-position: center;
				}

				#img11{
					background-image: url(../images/img11.jpg);
					background-size: cover;
					background-position: center;
				}