			.mobile #cover{
				background-image: url(../images/mobile/cover.jpg);
			}
			
			.mobile #img1{
					background-image: url(../images/mobile/img1.jpg);
				}

			.mobile #img2{
					background-image: url(../images/mobile/img2.jpg);
				}

			.mobile #img3{
					background-image: url(../images/mobile/img3.jpg);
				}

			.mobile #img4{
					background-image: url(../images/mobile/img4.jpg);
				}

			.mobile #img5{
					background-image: url(../images/mobile/img5.jpg);
				}

			.mobile #img6{
					background-image: url(../images/mobile/img6.jpg);
				}

			.mobile #img7{
					background-image: url(../images/mobile/img7.jpg);
				}

			.mobile #img8{
					background-image: url(../images/mobile/img8.jpg);
				}

			.mobile #img9{
					background-image: url(../images/mobile/img9.jpg);
				}

			.mobile #img10{
					background-image: url(../images/mobile/img10.jpg);
				}

			.mobile #img11{
					background-image: url(../images/mobile/img11.jpg);
				}
